$base-color: #000F21;
$sec-color: #BE2626;
$acc-color: #FFDD6E;

*{
    margin: 0;
    padding: 0;
}
*,*::before, *::after{
    box-sizing: border-box;
}
html{
    color-scheme: dark light;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: $base-color;
}
img,picture,svg,video{
    display:block;
    max-width: 100%;
}


header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255,255,255,.1);
    backdrop-filter: blur(10px);
    border-radius: 50em;
    max-width: min-content;
    padding: .5rem 0rem;
    text-align: center;
    margin-top: 1em;
}


.menu{
    margin: 0;
    padding: .1rem;
    display: flex;
    list-style-type: none;
    li{
        background-color: rgba(255,255,255,.4);
        border-radius: 50rem;
        padding: .3rem 1.5rem;
        margin: 0rem .5rem;
    }
    a{
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    a:hover{
        color: grey;
    }
    a:active{
        color:darkslategrey;
    }
}

.intro{
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $base-color;
    h1{
        font-size: 5rem;
        color: white;
        text-align: center;
    }
    p{
        text-align: center;
        color: white;
        padding-bottom: 50px;
    }
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background: no-repeat;
    background-position: center;
    background-Size: cover;
}
.layer1{
    background-image: url("/images/Back1.svg");
}

.aboutme{
    background-color: $sec-color;
    color:  white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
}

.content-wrapper{
    max-width: 900px;
    margin: -20px auto;
    padding: 3rem .1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    img{
        border-radius: 2rem;
    }
    .item1{
        flex: 1;
    }
    .item2{
        flex:1;
    }
}

.prog{
    // background-color: aqua;
    min-height: 400px;
    
}



